.sidebar {
	width: 150px;
	flex-shrink: 0;
	background-color: #FBFEF9;
}

.logo {
	background-image: url("images/avatar.png");
}

.sidebar-wrapper {
	position: fixed;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

a {
	text-decoration: none;
	color: #191923;
}

.site-nav ul li a {
	font-family: 'Nunito', sans-serif;

}

.site-nav ul {
	list-style: none;
	text-align: left;
}

.site-nav ul li {
	margin: auto;
}



@media (max-width: 775px){
	.sidebar {
		width: 100%;
		height: 50px;
	}

	.logo {
		height: 100%;
		width: auto;
		display: none;
	}

	.email {
		display: none;
	}

	.site-nav {
		display: none;
	}

	.sidebar-wrapper {
		height: 100px;
		flex-direction: row;
	}

	.site-wrapper {
		flex-direction: column;
	}
}